<%- include('partials/header') -%>
<section class="border border-slate-900 border-black m-4 p-2 lg:p-4" >

<section class="grid grid-cols-9">
  <div class="col-start-1 col-span-2 py-2">
    <h2 class="text-2xl">Feed:</h2>
  </div>

  <div class="col-start-6 col-span-4 md:col-start-7 md:col-span-3">
    <a class="flex justify-end" href="/post"><button class="btn btn-outline mx-4 normal-case text-lg lg:w-1/2 w-full">Add Post</button></a>
  </div>
</section>

<section class="grid md:grid-cols-2 gap-4 sm:grid-cols-1 lg:grid-cols-3">
  <% for(var i=0; i<posts.length; i++) {%>
  <div class="card card-compact w-fit bg-slate-100 shadow-xl m-2 max-w-md mx-auto">
    <figure class="h-60 lg:h-72"><a href="/post/<%= posts[i]._id%>"><img src="<%= posts[i].image%>" alt="Shoes" /></a></figure>
    <div class="card-body flex grid grid-cols-3">
      <div class="col-start-1 col-span-2">
      <h2 class="card-title"><%= posts[i].title%></h2>
      <p><%= posts[i].caption%></p>
      </div>
      <div class="col-start-3 col-span-1">
        <a href="/profile/<%= posts[i].user.userName%>">
        <h2 class="card-title"> <%= posts[i].user.userName.split(" ").map(e => e.charAt(0).toUpperCase()+e.slice(1)).join(' ') %></h2></a>
        <div class="mb-2"><h5 class="font-bold">Location:</h5> <%= posts[i].location%></div>
        
        <div><h5 class="font-bold">Trail Name:</h5> <%= posts[i].trailName%></div>
      </div>
  </div>
    <section class="card-body flex flex-col sm:flex-row justify-center gap-4 sm:justify-between">
      <div class="self-center">
        <h5 class="font-bold">Rating:</h5>
        <div class="rating rating-mdlg mb-2 ">
          <% for(var j=0; j<posts[i].rating; j++) {%>
          <input type="" name="rating-2" class="mask mask-star-2 bg-slate-900" />
          <%}%>
        </div>
      </div>

      <!-- outer div -->
      <div class="flex flex-row justify-center gap-4 sm:self-end">
      <% if (posts[i].user.userName == user.userName) { %>
        <form
        class=""
        action="/feed/likePost/<%= posts[i]._id %>?_method=PUT"
        method="POST"
      >
        <button class="btn fa fa-heart bg-slate-900" type="submit"></button>
        <h3 class="flex justify-center font-bold likesText"><%= posts[i].likes %></h3>
      </form>
      <a href="/post/<%= posts[i]._id%>"><button class="btn fa fa-comment bg-slate-900" type="submit"></button></a>
      
        <form
          action="/feed/deletePost/<%= posts[i]._id %>?_method=DELETE"
          method="POST"
          class=""
        >
          <button class="btn fa fa-trash bg-slate-900" type="submit"></button>
        </form>
    
  <% } else {%>      
      <form
      class=""
      action="/feed/likePost/<%= posts[i]._id %>?_method=PUT"
      method="POST"
    >
      <button class="btn fa fa-heart bg-slate-900" type="submit"></button>
      <h3 class="flex justify-center font-bold likesText"><%= posts[i].likes %></h3>
    </form>
    <a href="/post/<%= posts[i]._id%>"><button class="btn fa fa-comment bg-slate-900" type="submit"></button></a>
    <!-- <h3>Comments: <%= posts[i].likes %></h3> -->
</section>


  <% }%>
      </div>
    </div>
  </div>
  
  <% } %>
</div>
</section>

  
</section>
  
<%- include('partials/footer') -%>