<%- include('partials/header') -%>
<div class="grid grid-cols-9 pt-5">
  <section class="col-start-2 col-span-5 bg-slate-300 px-8 py-4 ">
  <div class="row justify-content-center">
    <div class="grid grid-cols-6">
      <h2 class="card-title col-start-1 col-span-4"><%= post.title %></h2>
      <h2 class="card-title col-start-5 col-span-2 justify-self-end"><%= user.userName %></h2>
    </div>
    <div class="py-4">
      <img src="<%= post.image%>" />
    </div>
    <div class="grid grid-cols-6 flex">
      <p class="col-start-1 col-span-4"> <%= post.caption %></p>
      <div class="col-start-5 justify-self-end"><h4 class="font-bold">Location:</h4> <%= post.location %></div>
      <div class="col-start-6 justify-self-end"><h4 class="font-bold">Trail Name:</h4> <%= post.trailName %></div>
      <div class="col-start-6 flex justify-between "><form
      class="col-1"
      action="/post/likePost/<%= post.id %>?_method=PUT"
      method="POST"
    >
        <button class="btn fa fa-heart bg-slate-900" type="submit"></button>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
    </form>
    <%if(post.user == user.id){ %>
    <form
      action="/post/deletePost/<%= post.id %>?_method=DELETE"
      method="POST"
      class="col-3"
    >
      <button class="btn fa fa-trash bg-slate-900" type="submit"></button>
    </form>
    <%}%>
  </div>
    </div>

    
        
    <div class="col-3 mt-5">
      

      
        
          <ul class="row list-unstyled">
            <% for(var i=0; i<comment.length; i++) {%>
              <!-- For loop iterating through the posts array and spitting out each image and anchor tag on the feeds page. -->
              <li class="col-6 justify-content-between mt-5">
                <%= comment[i].comment%>
              </li>
            <% } %>
            </ul>
      

    </div>
  </div>



  </section>
    
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
       
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>

      
        
          <ul class="row list-unstyled">
            <% for(var i=0; i<comment.length; i++) {%>
              <!-- For loop iterating through the posts array and spitting out each image and anchor tag on the feeds page. -->
              <li class="col-6 justify-content-between mt-5">
                <%= comment[i].comment%>
              </li>
            <% } %>
            </ul>
      

    </div>
    <!-- Displays the post that user has clicked on. It shows post title, likes and post caption. There is no loop as it is a single post being shown. -->
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
    <!-- Buttons to return to profile and feed. -->
  </div>
</div>

<form action="/comment/createComment/<%= post.id%>" method="POST">
  <div class="mb-3">
      <label for="comment" class="form-label">Comment</label>
      <input type="text" class="form-control" id="comment" name="comment">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('partials/footer') -%>
