<%- include('partials/header') -%>
<div class="grid grid-cols-9 pt-5">
  <section class="col-start-2 col-span-5 bg-slate-300 px-8 py-4 ">
  <div class="row justify-content-center">
    <div class="grid grid-cols-6">
      <h2 class="card-title col-start-1 col-span-4"><%= post.title %></h2>
      <h2 class="card-title col-start-5 col-span-2 justify-self-end"><%= user.userName %></h2>
    </div>
    <div class="py-4">
      <img src="<%= post.image%>" />
    </div>
    <div class="grid grid-cols-6 flex">
      <p class="col-start-1 col-span-4"> <%= post.caption %></p>
      <div class="col-start-5 justify-self-end"><h4 class="font-bold">Location:</h4> <%= post.location %></div>
      <div class="col-start-6 justify-self-end"><h4 class="font-bold">Trail Name:</h4> <%= post.trailName %></div>
      <div class="col-start-6 flex justify-between "><form
      class="col-1"
      action="/post/likePost/<%= post.id %>?_method=PUT"
      method="POST"
    >
        <button class="btn fa fa-heart bg-slate-900" type="submit"></button>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
    </form>
    <%if(post.user == user.id){ %>
    <form
      action="/post/deletePost/<%= post.id %>?_method=DELETE"
      method="POST"
      class="col-3"
    >
      <button class="btn fa fa-trash bg-slate-900" type="submit"></button>
    </form>
    <%}%>
  </div>
    </div>

    
</div>  
</section>
  <div class="col-start7 col-span-3 col-3 mt-5">
      <% for(var i=0; i<comment.length; i++) {%>
        <div class="chat chat-start">
          <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <img src="<%= user.profilePhoto%>" />
            </div>
          </div>
          <div class="chat-bubble"><%= comment[i].comment%></div>
        </div>
      <% } %>
      <form action="/comment/createComment/<%= post.id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <div class="form-control mt-3">
          <button class="btn btn-grey">Post</button>
        </div>
      </form>
  </div>
</div>  
</div>
</div>

<form action="/comment/createComment/<%= post.id%>" method="POST">
  <div class="mb-3">
      <label for="comment" class="form-label">Comment</label>
      <input type="text" class="form-control" id="comment" name="comment">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('partials/footer') -%>
