<%- include('partials/header') -%>
<!-- header image -->
<div class="profile--header-container"></div>

<main class="grid grid-cols-9 bg-slate-300">
  <div class="col-start-2" >
    <div class="w-full h-28 bg-slate-300">
      <div class="avatar">
        <div class="w-40 rounded absolute">
          <img class="border-2" src="<%= user.profilePhoto%>" />
        </div>
      </div>
      <a href="/editProfile"><button class="container btn btn-outline mt-4">Edit Profile</button></a>
    </div>
  </div>

    <div class="border border-2 col-start-3">
        <h2> <%= user.userName %></h2>
    </div>

    <div class="border border-2 col-start-7">
        <h5>Posts:</h5>
        <h5><%= posts.length%></h5>
    </div>

    <div class="border border-2 col-start-8">
        <h5>Likes</h5>
    </div>
  </main>
  
  <section class="grid grid-cols-9">
    <section class="border border-2 col-start-2 col-span-2 my-4" >
      <div class="border border-4 h-52 bg-slate-300">
        <h3 class="font-extrabold">About:</h3>
        <p> <%= user.bio%></p>
        <br>
        <p><%= user.location%></p>
      </div>
    </section>
    

    <section class="border border-2 col-start-4 col-span-6 grid grid-cols-2 gap-4 border-black mx-4 mt-4" >
      <div class="col-start-1 col-span-2 grid grid-cols-9 py-2">
        <h2 class="col-start-1 text-2xl">Posts:</h2>
        <button class="btn btn-grey col-start-9 mx-4">Add post</button>
      </div>
      <% for(var i=0; i<posts.length; i++) {%>
      <div class="card card-compact w-96 bg-base-100 shadow-xl mx-auto">
        <figure class="h-60"><a href="/post/<%= posts[i]._id%>"><img src="<%= posts[i].image%>" alt="Shoes" /></a></figure>
        <div class="card-body">
          <h2 class="card-title"><%= posts[i].title%></h2>
          <h5>Location: <%= posts[i].location%></h5>
          <h5>Trail Name: <%= posts[i].trailName%></h5>
          <p><%= posts[i].caption%></p>
          <div class="card-actions justify-end">
            <form
            class="col-1"
            action="/profile/likePost/<%= posts[i].id %>?_method=PUT"
            method="POST"
          >
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
            <h3>Likes: <%= posts[i].likes %></h3>
          </form>
        </div>
          <%if(posts.user == user.id){ %>
            <form
              action="/profile/deletePost/<%= posts[i].id %>?_method=DELETE"
              method="POST"
              class="col-3"
            >
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            <%}%>
          </div>
        </div>
      </div>
      <% } %>
    </section>
      
    </section>

    <div class="mt-5">
      <h2>Add a post</h2>

    

      <!-- Add a post heading -->
      <form action="/post/createPost" enctype="multipart/form-data" method="POST">
        <div class="mb-3 form-control w-full max-w-xs">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs form-control" id="title" name="title" />
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs form-control" id="location" name="location" />
      </div>

      <div class="mb-3">
        <label for="trailName" class="form-label">Trail Name</label>
        <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs form-control" id="trailName" name="trailName" />
      </div>

        <div class="mb-3">
          <label for="caption" class="form-label">Caption</label>
          <textarea class="textarea textarea-bordered form-control w-full max-w-xs" id="caption" name="caption" placeholder="Type here"></textarea>
        </div>

        <div class="mb-3">
          <label for="imgUpload" class="form-label">Image</label>
          <input type="file" class="form-control" id="imageUpload" name="file">
        </div>

        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      </form>
      <!-- Form to upload title, location, trail name, caption and image alongside a button to submit the post. -->
    </div>
</div>

</main>

<%- include('partials/footer') -%>

